{
  "rabbitmq": {
    "host": "{{ sensu_server_rabbitmq_host }}",
    "port": "{{ sensu_server_rabbitmq_post }}",
    "vhost": "/{{ sensu_server_rabbitmq_vhost }}",
    "user": "{{ sensu_server_rabbitmq_user }}",
    "password": "{{ sensu_server_rabbitmq_password }}"
  },    
  "redis": {
    "host": "{{ sensu_server_redis_host }}",
    "port": "{{ sensu_server_redis_port }}"
  },
  "api": {
    "host": "{{ sensu_server_api_host }}",
    "bind": "0.0.0.0",
    "port": 4567
  }
}
